@import 'tailwindcss';

html {
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  --muted-foreground: 215.4 16.3% 46.9%;
}
