@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 255);

  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

.box-shadow {
  box-shadow: 0 0 6px rgba(73, 80, 87, 0.05);
}

.button-shadow {
  box-shadow: 0 32px 8px rgba(255, 255, 255, 1);
}
