name: Auto Assign PR Author & Reviewers

on:
  pull_request:
    types: [opened, reopened, ready_for_review]

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write

    steps:
      - name: Auto assign PR
        uses: kentaro-m/auto-assign-action@v1.2.6
