name: Labeler

on:
  pull_request:
    types: [opened, edited, reopened]
  issues:
    types: [opened, edited, reopened]

jobs:
  label:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      issues: write

    steps:
      - uses: hoho4190/issue-pr-labeler@v2.0.1
        with:
          token: '${{ secrets.GITHUB_TOKEN }}'
          disable-bot: true
          config-file-name: label-config.yml
